body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(purple, mediumpurple, blue) 100% 100% no-repeat;
    background-size:cover;
}

html {
    min-height: 100%;
}

#wrapper {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(220, 220, 220, 0.65);
    padding: 20px;
    border-radius: 25px;
}

img {
    filter: blur(0);
}

h1 {
    text-align: center;
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

h2 {
    padding: 10px 0 10px 20px;
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 34px;
    width: fit-content;
    float: left;
}

h3 {
    float: right;
    width: fit-content;
    margin: 20px 20px 0 0;
}

h3:hover {
    cursor: pointer;
}

.spanuser {
    font-weight: bolder;
    color: white;
    font-size: 38px;
}

header {
    float: left;
    width: 100%;
    background-color: grey;
    opacity: 0.7;
}

img:hover {
    filter: blur(2px);
    filter: contrast(50%);
    cursor: pointer;
}